.chart-container *:focus {
  outline: none;
  cursor: pointer;
}

.chart-container {
    width: 100%;
    height: 460px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    padding: 30px;
    border-radius: 14px;
    margin-bottom: 30px;
}

.chart-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #202224;

}