.table {
  width: 100%;
  height: 810px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 14px;
  margin-bottom: 30px;
  color: #202224;
}

.table_img {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.table_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;  
}

tbody td {
  padding-left: 25px;
  padding-block: 20px;
  border-bottom: 1px solid #D8D8D8;
}

.table .status {
  border-radius: 12px;
  width: 90px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.table h3 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #202224;
}

.table thead {
  text-align: left;
  background: #f1f4f9;
}

.table tbody  {
  text-align: left;
}

.table thead th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.table thead th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}


.table thead th {
  padding: 16px 24px;
}


.table .dropdown {
  position: relative;
}

.dropdown_btn {
  border: 1px solid #646464;
  width: 90px;
  height: 30px; 
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #646464;
}

.dropdown_btn i  {
  font-size: 18px;
  color: #646464;
}

.table .dropdown_menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  border-radius: 8px;
  list-style: none;
  padding: 4px 0;
  margin: 0;
  width: 90px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.dropdown_menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.filtered_info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  color: #646464;
}