.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.product_card {
    width: 360px;
    height: 460px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    padding: 24px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s;
}

.product_card img {
    display: block;
    margin: 0 auto 20px;
}

.card_info {
    display: flex;
    justify-content: space-between;
}

.card_inner {

}

.card_inner h3 {
    font-size: 18px;
    color: #202224;
    margin-bottom: 8px;
    font-weight: 800;
}

.card_inner .price {
    color: #4880FF;
    font-size: 16px;
    margin-bottom: 8px;
}

.edit {
    width: 120px;
    height: 38px;
    background: #E2EAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
}

.like {
    color: #3b76ff;
    font-size: 22px;
    background: #e0f3ff;
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* <i class="ri-heart-line"></i> */
/* <i class="ri-heart-fill"></i> */
/* <i class="ri-star-fill"></i> */