.swiper {
    background-color: #4880FF;
    height: 340px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 16px;
    background-image: url('/src/assets/Group.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}


.slide_card {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
}

.data {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.slide_card h3 {
    font-size: 36px;
    font-weight: 900;
}

.slide_card button {
    background: #FF8743;
    color: #fff;
    width: 156px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.slide_card button:hover {
    transform: scale(1.02);
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;


}