.card {
    width: 280px;
    height: 160px;
    padding: 16px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

}


.card_inner {
    display: flex;
    justify-content: space-between;
}

.card_info h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #202224;
}

.card_info p {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;

}

.color_circle {
    width: 60px;
    height: 60px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_text {
    display: flex;
    align-items: center;
    gap: 6px;
}