.sales-chart {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 24px;
  width: 360px;
  height: 365px;
  margin-bottom: 30px;
  border-radius: 14px;
}

.sales-chart *:focus {
  outline: none;
  cursor: pointer;
}

.sales-chart h3 {
    margin-bottom: 30px;
}