.chart_wrapper {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  background-image: url(../../../../assets/card-bg.png);
  padding: 12px;
  width: 580px;
  height: 480px;
  margin-bottom: 30px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}


.chart_wrapper *:focus {
  outline: none;
  cursor: pointer;
}