.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.header_inner_right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header_inner i {
  color: #202224;
  font-size: 20px;
  margin-right: 24px;
}

.header_inner input {
  border: 1px solid #d5d5d5;
  background: #f5f6fa;
  padding: 10px 300px 10px 45px;
  outline: 0;
  font-size: 14px;
  color: #8a8c8f;
  border-radius: 18px;
}

.header_inner label i {
  position: absolute;
  color: #8a8c8f;
  left: 16px;
  top: 0;
}

.header_inner label {
  position: relative;
}

.language_dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
}

.dropdown_toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  cursor: pointer;
  
}

.dropdown_toggle span {
  color: #646464;
  font-size: 14px;
}

.dropdown_toggle i {
  font-size: 22px;
  color: #646464;
}

.menu_item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #404040;
}

.flag_img {
  width: 32px;
  height: 22px;
  object-fit: cover;
  border-radius: 2px;
}

.main_flag_img {
    border-radius: 4px;
}

.dropdown_menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  list-style: none;
  padding: 4px 0;
  margin: 0;
  width: 170px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.dropdown_menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.user_info {
    display: flex;
    align-items: center;
}

.user_info_inner {
    margin-left: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.user_info_text {
  display: flex;
  flex-direction: column;
}

.user_info_text h4 {
    color: #404040;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
}

.user_info_text p {
    color: #565656;
    font-size: 14px;
    font-weight: 600;
}

.user_info_inner i {
  color: #646464;
  font-size: 22px;
}

.info_circle {
  border: 1px solid #555;
  border-radius: 50%;
  margin-left: 20px;
}

.dropdown_menu_profile {
  position: absolute;
  top: 50px;
  left: -50px;
  background: #fff;
  border: 1px solid #ddd;
  
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 110;
}

.profile_item  img {
  display: inline-block;
  margin-right: 6px;
}



.dropdown_menu_profile li {
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}