.sidebar {
    width: 240px;
    padding-top: 24px;
    
}

.blue {
    color: #4880FF;
}

.sidebar h1 {
    font-size: 20px;
    color: #202224;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



.sidebar-inner button {
    color: #202224;
    font-size: 16px;
    font-weight: 500;
    width: 140px;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
}

.sidebar-inner .line {
    height: 1px;
    width: 100%;
    background: #D8D8D8;
}

.sidebar-inner h3 {
    font-size: 12px;
    color: #797A7C;
}

.btn.active {
    background: #4880FF;
    color: #fff;
}

.sidebar-inner i {
    margin-right: 10px;
}
