.unavailable  {
    color: #A6A6A6;
}

.card_info {
    width: 350px;
    border-radius: 22px;
    height: 760px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../assets/card-bg.png');
    cursor: pointer;
}

.card_info h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #202224;
}

.time {
    font-size: 16px;
    color: #212121;
    font-weight: 400;
    margin-bottom: 10px;
}

.card_info h3 {
    margin-bottom: 40px;
    font-size: 36px;
    color: #4880FF;
    font-weight: 800;
}

.line {
    height: 2px;
    width: 100%;
    background: #E9E9E9;
    margin-bottom: 40px;
}

.card_info li {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.card_info button {
    border: 2px solid #4880FF;
    border-radius: 30px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 24px;
    color: #4880FF;
    font-weight: 500;
    transition: 0.4s;
}

.card_info button:hover {
    background: #4880FF;
    border: 2px solid #4880FF;
    color: #fff;
}

.free_trial {
    text-decoration: underline;
}