.swiper-card {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 24px;
  width: 360px;
  height: 365px;
  margin-bottom: 30px;
  border-radius: 14px;
}

.swiper-card h3 {
    margin-bottom: 30px;
}

.card-swiper img {
    width: 200px;
    object-fit: cover;
    
}

.card-swiper h4 {
    color: #282D32;
    font-weight: 600;
    font-size: 18px;
}

.card-swiper p {
    color: #4880FF;
    font-weight: 600;
    font-size: 16px;
}

.card-swiper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    background: #E2EAF8;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
}


