.swiper_card {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 24px;
  width: 360px;
  height: 365px;
  margin-bottom: 30px;
  border-radius: 14px;
}

.swiper_card h3 {
    margin-bottom: 30px;
}

.card_swiper img {
    width: 200px;
    object-fit: cover;
    
}

.card_swiper h4 {
    color: #282D32;
    font-weight: 600;
    font-size: 18px;
}

.card_swiper p {
    color: #4880FF;
    font-weight: 600;
    font-size: 16px;
}

.card_swiper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}




